In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Denish\Desktop\Ironhack\Class_work\Day_5\fifa21_train.csv")

In [3]:
# pd.set_option('display.max_columns', None)
# df

In [4]:
df.dtypes

ID              int64
Name           object
Age             int64
Nationality    object
Club           object
                ...
CB             object
RCB            object
RB             object
GK             object
OVA             int64
Length: 101, dtype: object

In [5]:
cat = df.select_dtypes(include="object")
cat.columns

Index(['Name', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract',
       'Height', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits',
       'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM',
       'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'GK'],
      dtype='object')

In [6]:
for i in cat.columns:
    display(i,cat[i].nunique(),cat[i].value_counts())

'Name'

11232

J. Rojas        8
Paulinho        6
A. Traoré       6
J. Jones        6
J. Williams     5
               ..
W. Smallbone    1
L. Fritzson     1
C. Aránguiz     1
Lucas Silva     1
F. Campbell     1
Name: Name, Length: 11232, dtype: int64

'Nationality'

159

England             1162
Germany              778
Spain                744
France               675
Brazil               567
                    ...
Malta                  1
Malawi                 1
Niger                  1
Singapore              1
Papua New Guinea       1
Name: Nationality, Length: 159, dtype: int64

'Club'

885

Crystal Palace       35
Everton              35
OGC Nice             35
Sporting CP          33
Chelsea              33
                     ..
Eskişehirspor         1
Osmanlıspor           1
Lierse SK             1
Spain                 1
Alianza Petrolera     1
Name: Club, Length: 885, dtype: int64

'BP'

15

CB     2170
ST     1858
CAM    1535
GK     1081
RM      971
CDM     835
CM      658
LB      633
RB      630
LM      559
RW      228
LWB     172
RWB     166
LW      148
CF       57
Name: BP, dtype: int64

'Position'

543

CB           1352
ST           1267
GK           1040
CDM CM        515
CM            449
             ...
CAM CF LW       1
CM RB CDM       1
RB CM CB        1
RW RM ST        1
ST RM RB        1
Name: Position, Length: 543, dtype: int64

'Team & Contract'

7655

India Free                            28
Bulgaria Free                         21
Uruguay Free                          16
Ecuador Free                          16
Egypt Free                            15
                                      ..
Fulham 2018 ~ 2020                     1
Aberdeen Jan 1, 2021 On Loan           1
AC Mineros de Guayana 2016 ~ 2022      1
San Lorenzo de Almagro 2018 ~ 2023     1
Torino 2014 ~ 2023                     1
Name: Team & Contract, Length: 7655, dtype: int64

'Height'

21

6'0"     1751
5'10"    1636
5'9"     1401
5'11"    1314
6'2"     1261
6'1"     1257
6'3"      659
5'8"      657
5'7"      614
6'4"      497
5'6"      209
6'5"      178
5'5"      129
6'6"       75
6'7"       19
5'4"       19
6'8"       10
5'3"        9
5'2"        3
5'1"        2
6'9"        1
Name: Height, dtype: int64

'Weight'

55

154lbs    931
165lbs    871
176lbs    694
159lbs    651
172lbs    626
161lbs    605
163lbs    573
168lbs    555
170lbs    506
150lbs    453
157lbs    425
174lbs    406
181lbs    396
143lbs    338
183lbs    332
152lbs    324
179lbs    312
148lbs    295
185lbs    271
187lbs    262
146lbs    244
141lbs    207
190lbs    175
194lbs    159
139lbs    150
192lbs    125
198lbs    110
137lbs    106
132lbs    105
196lbs     91
134lbs     82
201lbs     56
203lbs     48
205lbs     33
209lbs     32
128lbs     29
207lbs     26
130lbs     19
212lbs     11
126lbs     11
214lbs     10
123lbs      9
216lbs      8
121lbs      7
220lbs      5
225lbs      4
218lbs      3
227lbs      2
223lbs      2
119lbs      1
243lbs      1
236lbs      1
229lbs      1
117lbs      1
234lbs      1
Name: Weight, dtype: int64

'foot'

2

Right    8828
Left     2873
Name: foot, dtype: int64

'Joined'

1689

Jul 1, 2019     818
Jul 1, 2018     589
Jul 1, 2017     371
Jan 1, 2019     276
Jul 1, 2016     214
               ...
Aug 12, 2013      1
Jun 30, 2014      1
Jan 3, 2012       1
Feb 13, 2016      1
Feb 18, 2017      1
Name: Joined, Length: 1689, dtype: int64

'Loan Date End'

34

Jun 30, 2021    370
Jun 30, 2020     72
Dec 31, 2020     55
Jun 30, 2019     19
Jun 30, 2018     17
May 31, 2021     15
Dec 31, 2021     12
Jan 31, 2021     11
Jun 30, 2022      8
Jan 1, 2021       7
Nov 27, 2021      5
Jun 30, 2017      4
Nov 30, 2020      4
May 31, 2020      3
Jun 23, 2021      3
Jan 3, 2021       2
Dec 31, 2019      2
May 31, 2019      2
May 31, 2018      2
Jun 1, 2021       2
Jun 30, 2023      1
Jun 30, 2015      1
Jan 30, 2021      1
Aug 31, 2021      1
Jul 1, 2021       1
Jan 2, 2016       1
Jul 31, 2021      1
Aug 31, 2020      1
Jul 5, 2021       1
May 25, 2016      1
Dec 30, 2021      1
Jun 30, 2014      1
Jan 4, 2021       1
May 31, 2022      1
Name: Loan Date End, dtype: int64

'Value'

203

€1.1M     342
€0        320
€1M       237
€325K     236
€450K     230
         ...
€63M        1
€52M        1
€32.5M      1
€58M        1
€65M        1
Name: Value, Length: 203, dtype: int64

'Wage'

140

€2K      1615
€500     1208
€3K      1178
€1K       910
€4K       750
         ...
€91K        1
€97K        1
€99K        1
€145K       1
€175K       1
Name: Wage, Length: 140, dtype: int64

'Release Clause'

1095

€0        1234
€1.1M      362
€1.3M      293
€1.2M      292
€1.4M      255
          ...
€271K        1
€37.4M       1
€55M         1
€30.3M       1
€9K          1
Name: Release Clause, Length: 1095, dtype: int64

'Contract'

362

2019 ~ 2021                922
2019 ~ 2022                753
2018 ~ 2021                722
2020 ~ 2022                699
2019 ~ 2023                624
                          ...
2002 ~ 2020                  1
Santa Clara 2020 ~ 2022      1
2010 ~ 2018                  1
2005 ~ 2022                  1
Club León 2018 ~ 2022        1
Name: Contract, Length: 362, dtype: int64

'W/F'

5

3 ★    7219
2 ★    2312
4 ★    1884
5 ★     200
1 ★      86
Name: W/F, dtype: int64

'SM'

5

2★    5127
3★    4537
1★    1120
4★     870
5★      47
Name: SM, dtype: int64

'A/W'

3

Medium    7494
High      3548
Low        600
Name: A/W, dtype: int64

'D/W'

3

Medium    8350
High      2027
Low       1265
Name: D/W, dtype: int64

'IR'

5

1 ★    10359
2 ★     1007
3 ★      285
4 ★       43
5 ★        7
Name: IR, dtype: int64

'Hits'

462

3      2357
4      1502
5      1019
6       769
7       547
       ...
353       1
198       1
293       1
155       1
226       1
Name: Hits, Length: 462, dtype: int64

'LS'

259

60+2     432
61+2     419
58+2     417
59+2     398
63+2     385
        ...
75+-1      1
61+3       1
68+-1      1
86+1       1
74+-1      1
Name: LS, Length: 259, dtype: int64

'ST'

259

60+2     432
61+2     419
58+2     417
59+2     398
63+2     385
        ...
75+-1      1
61+3       1
68+-1      1
86+1       1
74+-1      1
Name: ST, Length: 259, dtype: int64

'RS'

259

60+2     432
61+2     419
58+2     417
59+2     398
63+2     385
        ...
75+-1      1
61+3       1
68+-1      1
86+1       1
74+-1      1
Name: RS, Length: 259, dtype: int64

'LW'

163

64+0     496
65+0     492
61+0     489
63+0     469
62+0     449
        ...
56+1       1
67+-4      1
70+-3      1
61+-3      1
81+1       1
Name: LW, Length: 163, dtype: int64

'LF'

150

63+0     496
62+0     478
61+0     478
59+0     442
65+0     438
        ...
75+-5      1
74+2       1
78+-3      1
60+-2      1
56+1       1
Name: LF, Length: 150, dtype: int64

'CF'

150

63+0     496
62+0     478
61+0     478
59+0     442
65+0     438
        ...
75+-5      1
74+2       1
78+-3      1
60+-2      1
56+1       1
Name: CF, Length: 150, dtype: int64

'RF'

150

63+0     496
62+0     478
61+0     478
59+0     442
65+0     438
        ...
75+-5      1
74+2       1
78+-3      1
60+-2      1
56+1       1
Name: RF, Length: 150, dtype: int64

'RW'

163

64+0     496
65+0     492
61+0     489
63+0     469
62+0     449
        ...
56+1       1
67+-4      1
70+-3      1
61+-3      1
81+1       1
Name: RW, Length: 163, dtype: int64

'LAM'

303

62+2     463
61+2     419
63+2     414
59+2     405
64+2     403
        ...
74+-4      1
72+-2      1
61+-2      1
36+1       1
75+-2      1
Name: LAM, Length: 303, dtype: int64

'CAM'

303

62+2     463
61+2     419
63+2     414
59+2     405
64+2     403
        ...
74+-4      1
72+-2      1
61+-2      1
36+1       1
75+-2      1
Name: CAM, Length: 303, dtype: int64

'RAM'

303

62+2     463
61+2     419
63+2     414
59+2     405
64+2     403
        ...
74+-4      1
72+-2      1
61+-2      1
36+1       1
75+-2      1
Name: RAM, Length: 303, dtype: int64

'LM'

286

61+2     459
62+2     445
63+2     441
64+2     415
59+2     385
        ...
18+0       1
60+-1      1
50+3       1
32+0       1
31+3       1
Name: LM, Length: 286, dtype: int64

'LCM'

251

59+2     451
61+2     444
62+2     434
58+2     432
60+2     432
        ...
28+3       1
83+0       1
71+-2      1
74+-1      1
41+0       1
Name: LCM, Length: 251, dtype: int64

'CM'

251

59+2     451
61+2     444
62+2     434
58+2     432
60+2     432
        ...
28+3       1
83+0       1
71+-2      1
74+-1      1
41+0       1
Name: CM, Length: 251, dtype: int64

'RCM'

251

59+2     451
61+2     444
62+2     434
58+2     432
60+2     432
        ...
28+3       1
83+0       1
71+-2      1
74+-1      1
41+0       1
Name: RCM, Length: 251, dtype: int64

'RM'

286

61+2     459
62+2     445
63+2     441
64+2     415
59+2     385
        ...
18+0       1
60+-1      1
50+3       1
32+0       1
31+3       1
Name: RM, Length: 286, dtype: int64

'LWB'

270

59+2     425
61+2     393
60+2     390
62+2     382
63+2     369
        ...
19+1       1
73+-2      1
62+-1      1
34+3       1
50+3       1
Name: LWB, Length: 270, dtype: int64

'LDM'

296

59+2     350
63+2     339
61+2     339
60+2     335
62+2     329
        ...
45+3       1
81+0       1
62+-3      1
80+-1      1
68+-3      1
Name: LDM, Length: 296, dtype: int64

'CDM'

296

59+2     350
63+2     339
61+2     339
60+2     335
62+2     329
        ...
45+3       1
81+0       1
62+-3      1
80+-1      1
68+-3      1
Name: CDM, Length: 296, dtype: int64

'RDM'

296

59+2     350
63+2     339
61+2     339
60+2     335
62+2     329
        ...
45+3       1
81+0       1
62+-3      1
80+-1      1
68+-3      1
Name: RDM, Length: 296, dtype: int64

'RWB'

270

59+2     425
61+2     393
60+2     390
62+2     382
63+2     369
        ...
19+1       1
73+-2      1
62+-1      1
34+3       1
50+3       1
Name: RWB, Length: 270, dtype: int64

'LB'

262

62+2     387
60+2     371
61+2     367
63+2     367
65+2     360
        ...
44+0       1
32+0       1
16+1       1
36+1       1
75+-1      1
Name: LB, Length: 262, dtype: int64

'LCB'

313

63+2     300
61+2     299
64+2     278
65+2     275
62+2     274
        ...
69+-5      1
66+-3      1
80+-1      1
20+0       1
74+-4      1
Name: LCB, Length: 313, dtype: int64

'CB'

313

63+2     300
61+2     299
64+2     278
65+2     275
62+2     274
        ...
69+-5      1
66+-3      1
80+-1      1
20+0       1
74+-4      1
Name: CB, Length: 313, dtype: int64

'RCB'

313

63+2     300
61+2     299
64+2     278
65+2     275
62+2     274
        ...
69+-5      1
66+-3      1
80+-1      1
20+0       1
74+-4      1
Name: RCB, Length: 313, dtype: int64

'RB'

262

62+2     387
60+2     371
61+2     367
63+2     367
65+2     360
        ...
44+0       1
32+0       1
16+1       1
36+1       1
75+-1      1
Name: RB, Length: 262, dtype: int64

'GK'

155

16+2    2157
17+2    1944
15+2    1752
18+2    1330
14+2    1031
        ...
46+0       1
81+3       1
83+3       1
10+3       1
67+0       1
Name: GK, Length: 155, dtype: int64

# Remove irrelevent columns

In [7]:
col_drop = ["Name","Nationality","Club","Team & Contract","Joined",'Loan Date End','Contract']
df1 = df.drop(["Name","Nationality","Club","Team & Contract","Joined",'Loan Date End','Contract'],axis=1)
df1.shape

(11701, 94)

# Correcting categorical columns

In [8]:
cat_df1 = df1.select_dtypes(include = "object") 
cat_df1.columns

Index(['BP', 'Position', 'Height', 'Weight', 'foot', 'Value', 'Wage',
       'Release Clause', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits', 'LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'GK'],
      dtype='object')

In [9]:
def convert_height(height):
    
    feet, inch = map(int, height.replace('"','').split("'"))
    inch = feet*12 + inch
    cm = inch * 2.54
    return cm
    
cat_df1['Height'] = cat_df1['Height'].apply(convert_height)    
cat_df1['Height']

<ipython-input-9-77a944095094>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1['Height'] = cat_df1['Height'].apply(convert_height)

0        175.26
1        182.88
2        162.56
3        177.80
4        180.34
          ...
11696    185.42
11697    185.42
11698    167.64
11699    187.96
11700    170.18
Name: Height, Length: 11701, dtype: float64

In [10]:
cat_df1['Weight'] = list(map(int, cat_df1['Weight'].str.replace('lbs','')))
#cat_df1["weight"] = pd.to_numeric(cat_df1["Weight"],errors = 'coe')
cat_df1["Weight"]

# df['column'] =  pd.to_numeric(df['column'], errors='coerce')
# df1['Weight'] = list(map(int, df1['Weight'].str.replace('lbs','')))

<ipython-input-10-9bf55777c68f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1['Weight'] = list(map(int, cat_df1['Weight'].str.replace('lbs','')))

0        161
1        159
2        134
3        152
4        150
        ...
11696    168
11697    174
11698    143
11699    179
11700    143
Name: Weight, Length: 11701, dtype: int64

In [11]:
cat_df1["Value"]

0        €525K
1        €8.5M
2          €9M
3        €275K
4        €725K
         ...
11696    €625K
11697    €1.6M
11698    €1.1M
11699       €0
11700    €700K
Name: Value, Length: 11701, dtype: object

# Value converstion

In [12]:
      
def covert_value(value):
    if "M" in value:
        new_value = value.replace("€","").replace("M","")
        new_value = float(new_value)*1000000
    elif "K" in value:
        new_value = value.replace("€","").replace("K","")
        new_value = float(new_value)*1000
    else:
        new_value = value.replace("€","")
        new_value = float(new_value)
        
    return new_value

cat_df1['Value'] = cat_df1['Value'].apply(covert_value)

<ipython-input-12-21a1748a198d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1['Value'] = cat_df1['Value'].apply(covert_value)

In [13]:
cat_df1['Value'].dtypes

dtype('float64')

# Wage conversion

In [14]:
cat_df1["Wage"].nunique
      
def covert_Wage(value):
    if "K" in value:
        new_value = value.replace("€","").replace("K","")
        new_value = float(new_value)*1000
    else:
        new_value = value.replace("€","")
        new_value = float(new_value)
        
    return new_value

cat_df1['Wage'] = cat_df1['Wage'].apply(covert_Wage)
cat_df1['Wage'].dtypes

<ipython-input-14-b158ff2dc77b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1['Wage'] = cat_df1['Wage'].apply(covert_Wage)

dtype('float64')

# Release Clause

In [15]:
cat_df1["Release Clause"] = cat_df1["Release Clause"].apply(covert_value)

<ipython-input-15-ec17073339ee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1["Release Clause"] = cat_df1["Release Clause"].apply(covert_value)

In [16]:
cat_df1["Release Clause"].dtypes

dtype('float64')

In [17]:
cat_df1["W/F"] = list(map(int,cat_df1["W/F"].str.replace("★","")))

<ipython-input-17-67b7da6c2086>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1["W/F"] = list(map(int,cat_df1["W/F"].str.replace("★","")))

In [18]:
cat_df1["W/F"]

0        4
1        3
2        4
3        2
4        2
        ..
11696    3
11697    2
11698    3
11699    3
11700    3
Name: W/F, Length: 11701, dtype: int64

In [19]:
cat_df1["SM"] = list(map(int,cat_df1["SM"].str.replace("★","")))

<ipython-input-19-5be76eab8b6a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1["SM"] = list(map(int,cat_df1["SM"].str.replace("★","")))

In [20]:
cat_df1["A/W"].value_counts()

Medium    7494
High      3548
Low        600
Name: A/W, dtype: int64

In [21]:
cat_df1["IR"] = list(map(int,cat_df1["IR"].str.replace("★","")))

<ipython-input-21-57e7e2c0b129>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1["IR"] = list(map(int,cat_df1["IR"].str.replace("★","")))

In [22]:
cat_df1["IR"]

0        1
1        2
2        2
3        1
4        1
        ..
11696    1
11697    1
11698    1
11699    3
11700    1
Name: IR, Length: 11701, dtype: int64

In [23]:
cat_df1["LF"].value_counts()

63+0     496
62+0     478
61+0     478
59+0     442
65+0     438
        ...
75+-5      1
74+2       1
78+-3      1
60+-2      1
56+1       1
Name: LF, Length: 150, dtype: int64

In [24]:
value_num = ['LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'GK']
for i in value_num:
    cat_df1[i] = pd.to_numeric(cat_df1[i], errors = 'coerce')
    
cat_df1['LS']

<ipython-input-24-9b28ca7174f7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1[i] = pd.to_numeric(cat_df1[i], errors = 'coerce')

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
11696   NaN
11697   NaN
11698   NaN
11699   NaN
11700   NaN
Name: LS, Length: 11701, dtype: float64

In [25]:
#cleaning data in 'LS'...
def convert_position(nb):
    if isinstance(nb, int):
        return nb 
    
    if '-' in nb:
        score, bonus = map(int, nb.replace('-', '').split("+"))
        total = score - bonus
    else:
        score, bonus = map(int, nb.split("+"))
        total = score + bonus
    
    return total

for i in value_num:
    cat_df1[value_num]  = df1[value_num].applymap(convert_position)

C:\Users\Denish\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [26]:
cat_df1[value_num]

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,59,59,59,61,62,62,62,61,64,64,...,60,60,60,60,59,55,55,55,59,16
1,77,77,77,77,77,77,77,77,77,77,...,55,55,55,59,55,50,50,50,55,20
2,75,75,75,80,79,79,79,80,80,80,...,58,58,58,61,55,43,43,43,55,14
3,52,52,52,51,51,51,51,51,55,55,...,60,60,60,58,59,60,60,60,59,16
4,58,58,58,59,59,59,59,59,63,63,...,66,66,66,66,65,63,63,63,65,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,50,50,50,55,52,52,52,55,56,56,...,62,62,62,65,65,63,63,63,65,18
11697,30,30,30,24,26,26,26,24,26,26,...,28,28,28,27,26,28,28,28,26,71
11698,64,64,64,67,65,65,65,67,67,67,...,46,46,46,51,47,37,37,37,47,19
11699,68,68,68,71,68,68,68,71,72,72,...,68,68,68,66,64,60,60,60,64,25
11700,66,66,66,65,65,65,65,65,67,67,...,45,45,45,48,46,38,38,38,46,17

In [27]:
cat_df1.select_dtypes(include="object")

        BP   Position   foot     A/W     D/W Hits
0       CM     CM CDM  Right    High  Medium    3
1       ST   ST LW LM  Right    High     Low   44
2      CAM     CAM CF  Right    High  Medium   73
3      CDM     CDM CM  Right  Medium  Medium    7
4      CDM     CDM CM  Right     Low  Medium    4
...    ...        ...    ...     ...     ...  ...
11696   LB         LB   Left  Medium  Medium    3
11697   GK         GK  Right  Medium  Medium    3
11698   RM  LM CAM RM  Right    High  Medium    6
11699   CM        NaN  Right     NaN     NaN    3
11700  CAM  ST CAM LM   Left    High     Low    8

[11701 rows x 6 columns]

In [28]:
cat_df1["Hits"] = pd.to_numeric(cat_df1["Hits"], errors='coerce')

<ipython-input-28-7c137e25cba9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1["Hits"] = pd.to_numeric(cat_df1["Hits"], errors='coerce')

In [29]:
cat_df1.select_dtypes(include="object")

        BP   Position   foot     A/W     D/W
0       CM     CM CDM  Right    High  Medium
1       ST   ST LW LM  Right    High     Low
2      CAM     CAM CF  Right    High  Medium
3      CDM     CDM CM  Right  Medium  Medium
4      CDM     CDM CM  Right     Low  Medium
...    ...        ...    ...     ...     ...
11696   LB         LB   Left  Medium  Medium
11697   GK         GK  Right  Medium  Medium
11698   RM  LM CAM RM  Right    High  Medium
11699   CM        NaN  Right     NaN     NaN
11700  CAM  ST CAM LM   Left    High     Low

[11701 rows x 5 columns]

In [30]:
new_cat = cat_df1.select_dtypes(include="object")

# new categories --- null values

In [31]:
new_cat.isna().sum()

BP            0
Position    288
foot          0
A/W          59
D/W          59
dtype: int64

In [32]:
# we are dropping "Positon" columns because we have already capture the important info in BP
new_cat = new_cat.drop(["Position"],axis=1)

# filling null values with A/W and D/W

In [33]:
new_cat.isna().sum()

BP       0
foot     0
A/W     59
D/W     59
dtype: int64

In [34]:
new_cat['A/W'] = new_cat['A/W'].fillna(new_cat['A/W'].mode()[0])
new_cat['D/W'] = new_cat['D/W'].fillna(new_cat['D/W'].mode()[0])

In [35]:
new_cat.isna().sum()

BP      0
foot    0
A/W     0
D/W     0
dtype: int64

In [36]:
new_cat

        BP   foot     A/W     D/W
0       CM  Right    High  Medium
1       ST  Right    High     Low
2      CAM  Right    High  Medium
3      CDM  Right  Medium  Medium
4      CDM  Right     Low  Medium
...    ...    ...     ...     ...
11696   LB   Left  Medium  Medium
11697   GK  Right  Medium  Medium
11698   RM  Right    High  Medium
11699   CM  Right  Medium  Medium
11700  CAM   Left    High     Low

[11701 rows x 4 columns]

# Working on numerical data

In [37]:
df_num = df.select_dtypes(exclude = "object")

In [38]:
df_num

,ID,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,...,GK Reflexes,Total Stats,Base Stats,PAC,SHO,PAS,DRI,DEF,PHY,OVA
0,184383,26,1,258,54,47,43,70,44.0,286,...,6,1682,357,69,51,63,63,51,60,64
1,188044,30,0,365,66,79,76,68,76.0,375,...,16,1961,412,83,75,68,82,33,71,77
2,184431,33,0,336,73,76,34,78,75.0,424,...,3,1925,404,80,77,78,86,27,56,80
3,233796,22,13,242,44,42,58,62,36.0,259,...,12,1527,329,57,44,54,57,57,60,59
4,234799,23,8,249,49,37,61,68,34.0,280,...,15,1664,360,66,44,60,64,60,66,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,25,5,224,62,24,51,59,28.0,248,...,14,1589,347,75,28,56,59,60,69,65
11697,214680,27,4,84,12,14,13,29,16.0,96,...,72,1123,387,72,67,66,72,40,70,70
11698,221489,22,8,286,64,66,51,64,41.0,291,...,16,1603,337,76,60,60,72,26,43,67
11699,146717,26,7,254,64,66,51,73,NaN,284,...,24,1429,400,72,63,70,72,57,66,68
11700,236507,22,9,289,43,64,65,64,53.0,267,...,8,1607,336,79,62,56,67,24,48,64

# concating numerical data + categorical data which is converted into numerical

In [39]:
num = pd.concat([df_num,cat_df1.select_dtypes(exclude='object')],axis = 1)

In [40]:
num = num.drop(['ID'],axis = 1)

In [41]:
num

,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,26,1,258,54,47,43,70,44.0,286,61,...,60,60,60,60,59,55,55,55,59,16
1,30,0,365,66,79,76,68,76.0,375,83,...,55,55,55,59,55,50,50,50,55,20
2,33,0,336,73,76,34,78,75.0,424,85,...,58,58,58,61,55,43,43,43,55,14
3,22,13,242,44,42,58,62,36.0,259,54,...,60,60,60,58,59,60,60,60,59,16
4,23,8,249,49,37,61,68,34.0,280,64,...,66,66,66,66,65,63,63,63,65,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,25,5,224,62,24,51,59,28.0,248,57,...,62,62,62,65,65,63,63,63,65,18
11697,27,4,84,12,14,13,29,16.0,96,17,...,28,28,28,27,26,28,28,28,26,71
11698,22,8,286,64,66,51,64,41.0,291,71,...,46,46,46,51,47,37,37,37,47,19
11699,26,7,254,64,66,51,73,NaN,284,74,...,68,68,68,66,64,60,60,60,64,25
11700,22,9,289,43,64,65,64,53.0,267,64,...,45,45,45,48,46,38,38,38,46,17

In [42]:
import seaborn as sns
import matplotlib.pyplot as plt
corr_matrix = num.corr()
#sns.heatmap(corr_matrix,annot=True)

In [43]:
#corr_values = ((num.corr() >0.75) & ( num.corr()< 1)) | ((num.corr()<-0.75) &(num.corr()>-1))
corr_values = ((num.corr() >0.75)) | ((num.corr()<-0.75))

In [44]:
corr_values

,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
Age,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Growth,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Attacking,False,False,True,True,True,False,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
Crossing,False,False,True,True,False,False,True,False,True,True,...,False,False,False,True,False,False,False,False,False,False
Finishing,False,False,True,False,True,False,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LCB,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
CB,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
RCB,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
RB,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,False
GK,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

# Finding columns with null values

In [45]:
pd.set_option('display.max_row', None)

In [46]:
# num_null = []
# for i in num.columns:
#     if num[i].isna().sum() != 0:
#         num_null.append(i)
# display(num_null)

# Treating null values with mean

In [47]:
num.loc[:, num.isnull().any()].describe().T

                  count       mean        std   min   25%   50%   75%    max
Volleys         11660.0  45.067324  17.732902   4.0  32.0  47.0  59.0   90.0
Curve           11660.0  49.617839  18.180408   4.0  37.0  52.0  64.0   94.0
Agility         11660.0  64.582075  14.484351  14.0  57.0  67.0  75.0   96.0
Balance         11660.0  64.709348  14.131318  17.0  57.0  67.0  75.0   97.0
Jumping         11660.0  65.036621  12.017118  25.0  58.0  66.0  73.0   95.0
Interceptions   11694.0  46.815119  20.808153   5.0  26.0  52.0  65.0   95.0
Positioning     11694.0  52.485890  19.069465   2.0  43.0  57.0  66.0   96.0
Vision          11660.0  55.439194  13.695285  10.0  47.0  57.0  65.0   95.0
Composure       11422.0  59.947732  11.769872  12.0  53.0  61.0  68.0   96.0
Sliding Tackle  11660.0  45.827702  21.217062   6.0  25.0  52.0  64.0   90.0
Hits            11659.0  28.698773  76.428496   3.0   4.0   7.0  18.0  974.0

In [48]:
# num= num[num_null].fillna(num[num_null].median(), inplace= True)

In [49]:
# for i in num_null:
#     num[i] = num.fillna(num[i].mean())

In [50]:
num["Volleys"] = num["Volleys"].fillna(num["Volleys"].mean())
num["Curve"] = num["Curve"].fillna(num["Curve"].mean())
num["Agility"] = num["Agility"].fillna(num["Agility"].mean())
num["Balance"] = num["Balance"].fillna(num["Balance"].mean())
num["Jumping"] = num["Jumping"].fillna(num["Jumping"].mean())
num["Interceptions"] = num["Interceptions"].fillna(num["Interceptions"].mean())
num["Positioning"] = num["Positioning"].fillna(num["Positioning"].mean())
num["Vision"] = num["Vision"].fillna(num["Vision"].mean())
num["Composure"] = num["Composure"].fillna(num["Composure"].mean())
num["Sliding Tackle"] = num["Sliding Tackle"].fillna(num["Sliding Tackle"].mean())
num["Hits"] = num["Hits"].fillna(num["Hits"].mean())

In [51]:
num.isna().sum()

Age                 0
Growth              0
Attacking           0
Crossing            0
Finishing           0
Heading Accuracy    0
Short Passing       0
Volleys             0
Skill               0
Dribbling           0
Curve               0
FK Accuracy         0
Long Passing        0
Ball Control        0
Movement            0
Acceleration        0
Sprint Speed        0
Agility             0
Reactions           0
Balance             0
Power               0
Shot Power          0
Jumping             0
Stamina             0
Strength            0
Long Shots          0
Mentality           0
Aggression          0
Interceptions       0
Positioning         0
Vision              0
Penalties           0
Composure           0
Defending           0
Marking             0
Standing Tackle     0
Sliding Tackle      0
Goalkeeping         0
GK Diving           0
GK Handling         0
GK Kicking          0
GK Positioning      0
GK Reflexes         0
Total Stats         0
Base Stats          0
PAC                 0
SHO                 0
PAS                 0
DRI                 0
DEF                 0
PHY                 0
OVA                 0
Height              0
Weight              0
Value               0
Wage                0
Release Clause      0
W/F                 0
SM                  0
IR                  0
Hits                0
LS                  0
ST                  0
RS                  0
LW                  0
LF                  0
CF                  0
RF                  0
RW                  0
LAM                 0
CAM                 0
RAM                 0
LM                  0
LCM                 0
CM                  0
RCM                 0
RM                  0
LWB                 0
LDM                 0
CDM                 0
RDM                 0
RWB                 0
LB                  0
LCB                 0
CB                  0
RCB                 0
RB                  0
GK                  0
dtype: int64

# Treating Outlires

In [52]:
# #capping and flooring

# def cap_floor(x):
#     x = x.clip(lower = x.quantile(0.02))
#     x = x.clip(upper = x.quantile(0.85))

#     return(x)

# checking corelaiton of features with target.. taking only columns which has more than 0.60 correlation with target

In [53]:
# def corr_num(col):
#     final_num = []
#     for i in num.columns:
#         corr1 = num[i].corr(num["OVA"])
#         if corr1 >= 0.60:
#             final_num.append(i)
#             return i
    
# # def corr_num(col):
# #     corr1 = num[col].corr(num["OVA"])
# #     if corr1 >= 0.4:
# #         return col
    
# #for i in num.columns:
#    num  = list(num.apply(corr_num,num))

In [54]:
num.describe()

,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
count,11701.00000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,...,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000
mean,25.27049,5.534655,258.482181,51.593795,48.048116,53.494060,60.436800,45.067324,266.497222,57.852491,...,56.515170,56.515170,56.515170,56.959662,56.173319,54.881634,54.881634,54.881634,56.173319,22.667977
std,4.95764,5.810903,72.267012,17.872747,19.399617,16.956195,13.971811,17.701804,76.835287,18.050938,...,13.409094,13.409094,13.409094,13.219660,13.534768,14.412883,14.412883,14.412883,13.534768,14.524695
min,16.00000,-1.000000,33.000000,6.000000,3.000000,5.000000,8.000000,4.000000,43.000000,5.000000,...,18.000000,18.000000,18.000000,16.000000,15.000000,18.000000,18.000000,18.000000,15.000000,10.000000
25%,21.00000,0.000000,232.000000,41.000000,33.000000,46.000000,56.000000,32.000000,232.000000,53.000000,...,49.000000,49.000000,49.000000,51.000000,49.000000,44.000000,44.000000,44.000000,49.000000,17.000000
50%,25.00000,4.000000,271.000000,56.000000,52.000000,56.000000,63.000000,47.000000,279.000000,63.000000,...,59.000000,59.000000,59.000000,59.000000,59.000000,57.000000,57.000000,57.000000,59.000000,18.000000
75%,29.00000,10.000000,306.000000,65.000000,64.000000,65.000000,69.000000,59.000000,319.000000,70.000000,...,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,20.000000
max,43.00000,26.000000,437.000000,94.000000,95.000000,93.000000,94.000000,90.000000,470.000000,96.000000,...,89.000000,89.000000,89.000000,87.000000,86.000000,89.000000,89.000000,89.000000,86.000000,91.000000

In [55]:
#capping and flooring

def cap_floor(x):
    x = x.clip(lower = x.quantile(0.02))
    x = x.clip(upper = x.quantile(0.85))

    return(x)
num = num.apply(lambda x:cap_floor(x))

In [56]:
num.describe()

,Age,Growth,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
count,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,...,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000,11701.000000
mean,24.890095,5.086659,255.267413,50.875053,47.317751,52.639176,59.947013,44.149283,262.961456,57.236988,...,55.962396,55.962396,55.962396,56.339885,55.584822,54.326297,54.326297,54.326297,55.584822,18.359542
std,4.278716,4.957927,67.910041,16.895094,18.326270,15.816724,13.029615,16.253733,71.715715,17.178997,...,12.539270,12.539270,12.539270,12.298549,12.625388,13.519129,13.519129,13.519129,12.625388,1.875219
min,17.000000,0.000000,64.000000,11.000000,8.000000,11.000000,22.000000,8.000000,74.000000,11.000000,...,24.000000,24.000000,24.000000,22.000000,22.000000,24.000000,24.000000,24.000000,22.000000,14.000000
25%,21.000000,0.000000,232.000000,41.000000,33.000000,46.000000,56.000000,32.000000,232.000000,53.000000,...,49.000000,49.000000,49.000000,51.000000,49.000000,44.000000,44.000000,44.000000,49.000000,17.000000
50%,25.000000,4.000000,271.000000,56.000000,52.000000,56.000000,63.000000,47.000000,279.000000,63.000000,...,59.000000,59.000000,59.000000,59.000000,59.000000,57.000000,57.000000,57.000000,59.000000,18.000000
75%,29.000000,10.000000,306.000000,65.000000,64.000000,65.000000,69.000000,59.000000,319.000000,70.000000,...,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,66.000000,20.000000
max,31.000000,13.000000,323.000000,69.000000,68.000000,69.000000,73.000000,64.000000,340.000000,73.000000,...,70.000000,70.000000,70.000000,69.000000,69.000000,70.000000,70.000000,70.000000,69.000000,21.000000

In [57]:
y = num["OVA"]
numerical_new = num.drop("OVA",axis =1 )
numerical_new.shape

(11701, 87)

# scaling of numerical data

In [58]:
#Scaling
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler

transformer = MinMaxScaler().fit(numerical_new) # numerical_new is numenical columns without target variable
x_normalized = transformer.transform(numerical_new)
num_Min_Max = pd.DataFrame(x_normalized, columns=numerical_new.columns)# num_Min_Max is normalized numerical data columns
#num_Min_Max

# encoding of categorical data

In [59]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder() 
  
# # Passing encoded columns 
  
enc_data = enc.fit_transform(new_cat[['BP', 'foot','A/W', 'D/W']]).toarray() 
cols = enc.get_feature_names(input_features=['BP', 'foot','A/W', 'D/W']) # columns names 
onehot_encoded = pd.DataFrame(enc_data, columns = cols) # generating data frame for categorical data with onehot encoding
# onehot_encoded.head()
# X_cat_v_encoded = encoder.transform(X_cat_v).toarray() # Getting values after encoding as arrays

# X_cat_v_encoded = pd.DataFrame(X_cat_v_encoded, columns = encoder.get_feature_names_out()) #Converting to data frame

In [60]:
# from sklearn.preprocessing import OrdinalEncoder

# ordinal_col = new_cat[["A/W", "D/W"]]
# encoder_O = OrdinalEncoder()
# ordinal_encoded = encoder_O.fit_transform(ordinal_col)
# ordi_encoded = pd.DataFrame(ordinal_encoded , columns=["A/W", "D/W"])
# #ordi_encoded

In [61]:
# concating two categorical data (ordinal and nominal)
#Cat_Enc = pd.concat([onehot_encoded,ordi_encoded],axis = 1)
Cat_Enc = onehot_encoded

In [62]:
Cat_Enc.shape

(11701, 23)

In [63]:
X = pd.concat([num_Min_Max,Cat_Enc],axis = 1)

In [64]:
num_Min_Max.shape

(11701, 87)

In [65]:
Cat_Enc.shape

(11701, 23)

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [67]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [68]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
print("R2_score of training data: ",r2_score(y_train, predictions))

R2_score of training data:  0.9258643093140452

In [69]:
predictions_test = lm.predict(X_test)
print("R2_score of testing data: ",r2_score(y_test, predictions_test))

R2_score of testing data:  0.9260066646844174

In [70]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
print("root mean squared Error: ",rmse)

root mean squared Error:  1.640634765629048

In [71]:
mse=mean_squared_error(y_test,predictions_test)
print("mean squared Error: ",mse)

mean squared Error:  2.6916824341906813

In [72]:
predictions_test

array([53.67773438, 68.58984375, 62.20898438, ..., 61.82714844,
       60.4140625 , 65.07910156])

In [73]:
# Working on Validation DAta

In [74]:
dfh = pd.read_csv(r"C:\Users\Denish\Desktop\Ironhack\Class_work\Day_5\fifa21_validate.csv")
dfh.shape

(1999, 101)

# Working on CAtegorical

In [75]:
cat_h = dfh.select_dtypes(include="object")
cat_h.shape

(1999, 48)

# Irrelevent colums dropping

In [76]:
col_drop_h = ["Name","Nationality","Club","Team & Contract","Joined",'Loan Date End','Contract']
df1_h = dfh.drop(["Name","Nationality","Club","Team & Contract","Joined",'Loan Date End','Contract'],axis=1)
df1_h.shape

(1999, 94)

# Correcting categorical Columns

In [77]:
cat_df1_h = dfh.select_dtypes(include = "object") 
cat_df1_h.columns

Index(['Name', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract',
       'Height', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits',
       'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM',
       'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'GK'],
      dtype='object')

In [78]:
cat_df1_h.shape

(1999, 48)

In [79]:
def convert_height(height):
    
    feet, inch = map(int, height.replace('"','').split("'"))
    inch = feet*12 + inch
    cm = inch * 2.54
    return cm
    
cat_df1_h['Height'] = cat_df1_h['Height'].apply(convert_height)

<ipython-input-79-192ae85153dc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h['Height'] = cat_df1_h['Height'].apply(convert_height)

In [80]:
cat_df1_h["Height"].shape

(1999,)

In [81]:
cat_df1_h['Weight'] = list(map(int, cat_df1_h['Weight'].str.replace('lbs','')))
cat_df1_h["Weight"]

<ipython-input-81-fe5a83a7c3e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h['Weight'] = list(map(int, cat_df1_h['Weight'].str.replace('lbs','')))

0       194
1       154
2       176
3       170
4       170
5       152
6       163
7       190
8       137
9       165
10      165
11      165
12      170
13      196
14      143
15      163
16      179
17      154
18      165
19      176
20      187
21      168
22      163
23      150
24      170
25      176
26      150
27      170
28      183
29      172
30      183
31      132
32      190
33      148
34      172
35      190
36      165
37      161
38      170
39      183
40      152
41      150
42      190
43      170
44      159
45      154
46      192
47      168
48      165
49      179
50      141
51      134
52      194
53      168
54      159
55      139
56      152
57      168
58      187
59      165
60      150
61      179
62      174
63      176
64      187
65      176
66      148
67      159
68      163
69      150
70      174
71      159
72      172
73      170
74      157
75      176
76      170
77      183
78      172
79      181
80      165
81      163
82      168
83      143
84      134
85      152
86      141
87      165
88      134
89      152
90      172
91      157
92      183
93      176
94      152
95      163
96      146
97      152
98      154
99      130
100     163
101     157
102     157
103     154
104     176
105     163
106     187
107     154
108     159
109     154
110     148
111     143
112     165
113     154
114     161
115     141
116     179
117     168
118     165
119     168
120     157
121     146
122     170
123     139
124     181
125     170
126     192
127     148
128     205
129     194
130     143
131     165
132     159
133     165
134     168
135     154
136     165
137     172
138     172
139     163
140     163
141     168
142     172
143     203
144     165
145     172
146     154
147     159
148     161
149     168
150     168
151     150
152     165
153     181
154     181
155     154
156     154
157     181
158     163
159     168
160     163
161     174
162     187
163     176
164     148
165     181
166     152
167     179
168     154
169     165
170     176
171     163
172     172
173     150
174     172
175     163
176     179
177     176
178     181
179     174
180     161
181     168
182     209
183     154
184     157
185     174
186     187
187     187
188     194
189     150
190     181
191     168
192     146
193     181
194     165
195     150
196     148
197     176
198     148
199     130
200     146
201     154
202     148
203     161
204     161
205     154
206     154
207     187
208     143
209     176
210     157
211     146
212     157
213     150
214     146
215     157
216     181
217     152
218     165
219     137
220     161
221     176
222     143
223     152
224     148
225     168
226     137
227     174
228     198
229     179
230     172
231     159
232     154
233     190
234     190
235     154
236     157
237     154
238     165
239     150
240     194
241     163
242     190
243     150
244     163
245     168
246     150
247     137
248     159
249     163
250     168
251     176
252     183
253     163
254     198
255     165
256     181
257     176
258     161
259     168
260     154
261     163
262     163
263     172
264     179
265     192
266     161
267     148
268     141
269     159
270     185
271     154
272     161
273     163
274     181
275     196
276     159
277     146
278     170
279     179
280     163
281     154
282     192
283     159
284     152
285     181
286     157
287     179
288     150
289     148
290     190
291     163
292     185
293     154
294     143
295     146
296     179
297     148
298     192
299     181
300     185
301     159
302     154
303     172
304     170
305     157
306     165
307     152
308     157
309     168
310     181
311     161
312     165
313     163
314     185
315     170
316     146
317     148
318     161
319     154
320     137
321     150
322     187
323     176
324     168
325     146
326     165
327     192
328     161
329     157
330     168
331     165
332     163
333     168
334     134
335     194
336     159
337     170
338     185
339     159
340     143
341     174
342     146
343     168
344     176
345     165
346     165
347     154
348     154
349     185
350     152
351     172
352     139
353     137
354     170
355     179
356     205
357     179
358     152
359     174
360     161
361     152
362     152
363     159
364     172
365     168
366     159
367     141
368     161
369     172
370     168
371     163
372     190
373     159
374     174
375     181
376     152
377     154
378     139
379     154
380     190
381     146
382     159
383     168
384     154
385     176
386     187
387     154
388     198
389     159
390     150
391     159
392     165
393     143
394     159
395     176
396     172
397     190
398     194
399     139
400     154
401     187
402     170
403     128
404     174
405     176
406     174
407     163
408     168
409     165
410     152
411     148
412     148
413     181
414     192
415     154
416     168
417     203
418     190
419     183
420     176
421     141
422     141
423     185
424     154
425     168
426     161
427     170
428     159
429     168
430     165
431     148
432     152
433     150
434     165
435     159
436     165
437     143
438     187
439     174
440     150
441     185
442     163
443     174
444     165
445     161
446     154
447     137
448     181
449     132
450     154
451     154
452     179
453     190
454     154
455     126
456     154
457     168
458     185
459     176
460     152
461     187
462     148
463     161
464     170
465     185
466     187
467     150
468     174
469     174
470     141
471     157
472     152
473     165
474     154
475     148
476     141
477     174
478     165
479     130
480     212
481     174
482     174
483     207
484     150
485     174
486     172
487     146
488     165
489     154
490     165
491     168
492     157
493     161
494     165
495     154
496     172
497     187
498     179
499     172
500     161
501     181
502     176
503     150
504     159
505     161
506     176
507     134
508     185
509     143
510     154
511     172
512     137
513     165
514     168
515     150
516     163
517     174
518     157
519     168
520     170
521     165
522     141
523     159
524     152
525     187
526     165
527     157
528     159
529     150
530     174
531     150
532     179
533     159
534     159
535     179
536     163
537     161
538     161
539     174
540     194
541     172
542     170
543     165
544     154
545     165
546     159
547     161
548     170
549     170
550     163
551     176
552     165
553     165
554     154
555     192
556     157
557     154
558     192
559     172
560     165
561     148
562     150
563     176
564     198
565     150
566     172
567     143
568     128
569     154
570     176
571     190
572     152
573     154
574     163
575     150
576     161
577     165
578     146
579     161
580     165
581     157
582     183
583     183
584     165
585     168
586     172
587     121
588     161
589     174
590     172
591     190
592     154
593     183
594     165
595     161
596     143
597     179
598     137
599     137
600     190
601     163
602     163
603     152
604     176
605     150
606     157
607     161
608     176
609     201
610     183
611     192
612     154
613     194
614     183
615     183
616     132
617     157
618     141
619     168
620     154
621     174
622     150
623     179
624     163
625     165
626     183
627     165
628     183
629     165
630     161
631     148
632     165
633     161
634     165
635     152
636     179
637     163
638     159
639     172
640     165
641     170
642     165
643     165
644     152
645     150
646     157
647     141
648     190
649     159
650     172
651     176
652     176
653     198
654     163
655     187
656     190
657     161
658     163
659     174
660     170
661     179
662     194
663     176
664     150
665     163
666     185
667     157
668     165
669     165
670     194
671     176
672     181
673     174
674     172
675     157
676     150
677     170
678     163
679     165
680     143
681     190
682     181
683     176
684     154
685     170
686     161
687     176
688     170
689     152
690     154
691     174
692     174
693     154
694     150
695     174
696     176
697     161
698     170
699     187
700     141
701     150
702     154
703     172
704     174
705     165
706     176
707     150
708     192
709     168
710     172
711     183
712     150
713     176
714     139
715     146
716     176
717     152
718     139
719     132
720     174
721     198
722     165
723     170
724     165
725     176
726     187
727     152
728     172
729     154
730     172
731     170
732     132
733     154
734     163
735     159
736     185
737     154
738     152
739     163
740     141
741     194
742     154
743     181
744     152
745     179
746     154
747     150
748     170
749     141
750     176
751     143
752     157
753     168
754     157
755     154
756     168
757     198
758     161
759     163
760     198
761     159
762     163
763     157
764     163
765     157
766     150
767     168
768     165
769     154
770     139
771     165
772     165
773     174
774     163
775     179
776     168
777     170
778     179
779     165
780     172
781     154
782     168
783     203
784     176
785     157
786     152
787     187
788     163
789     157
790     163
791     179
792     152
793     179
794     159
795     152
796     194
797     154
798     165
799     152
800     157
801     185
802     143
803     174
804     198
805     154
806     163
807     163
808     154
809     172
810     150
811     194
812     159
813     181
814     152
815     168
816     157
817     168
818     154
819     176
820     181
821     192
822     139
823     163
824     148
825     174
826     170
827     176
828     181
829     165
830     185
831     154
832     150
833     152
834     194
835     181
836     170
837     172
838     181
839     212
840     146
841     163
842     174
843     161
844     154
845     154
846     176
847     185
848     176
849     154
850     185
851     190
852     187
853     168
854     179
855     181
856     183
857     179
858     165
859     183
860     163
861     185
862     150
863     185
864     192
865     163
866     165
867     172
868     183
869     172
870     187
871     150
872     148
873     141
874     165
875     190
876     172
877     165
878     121
879     152
880     165
881     165
882     227
883     174
884     196
885     161
886     190
887     168
888     174
889     176
890     190
891     183
892     139
893     172
894     183
895     170
896     157
897     168
898     192
899     161
900     187
901     154
902     150
903     183
904     157
905     168
906     154
907     176
908     196
909     163
910     168
911     165
912     146
913     121
914     157
915     150
916     141
917     146
918     216
919     170
920     176
921     176
922     165
923     143
924     185
925     185
926     172
927     163
928     154
929     132
930     174
931     185
932     181
933     154
934     143
935     154
936     163
937     172
938     170
939     159
940     148
941     152
942     150
943     172
944     172
945     203
946     192
947     157
948     170
949     179
950     154
951     163
952     148
953     205
954     152
955     165
956     181
957     161
958     170
959     170
960     192
961     172
962     157
963     176
964     159
965     132
966     172
967     198
968     176
969     190
970     163
971     152
972     168
973     154
974     170
975     163
976     157
977     198
978     161
979     141
980     172
981     187
982     154
983     146
984     141
985     159
986     139
987     141
988     181
989     192
990     165
991     159
992     168
993     179
994     159
995     152
996     174
997     157
998     161
999     137
1000    201
1001    134
1002    176
1003    161
1004    154
1005    159
1006    172
1007    150
1008    165
1009    170
1010    190
1011    165
1012    192
1013    143
1014    143
1015    172
1016    161
1017    146
1018    150
1019    168
1020    159
1021    165
1022    152
1023    187
1024    157
1025    154
1026    161
1027    154
1028    159
1029    154
1030    168
1031    176
1032    183
1033    185
1034    163
1035    174
1036    168
1037    159
1038    176
1039    176
1040    185
1041    190
1042    170
1043    161
1044    119
1045    185
1046    132
1047    157
1048    179
1049    172
1050    176
1051    183
1052    161
1053    168
1054    170
1055    154
1056    159
1057    183
1058    119
1059    181
1060    168
1061    163
1062    152
1063    194
1064    157
1065    165
1066    172
1067    159
1068    152
1069    152
1070    150
1071    168
1072    172
1073    181
1074    187
1075    187
1076    163
1077    157
1078    172
1079    176
1080    172
1081    168
1082    150
1083    168
1084    154
1085    168
1086    176
1087    159
1088    141
1089    146
1090    170
1091    176
1092    154
1093    165
1094    190
1095    170
1096    159
1097    174
1098    176
1099    170
1100    172
1101    168
1102    187
1103    179
1104    198
1105    181
1106    165
1107    174
1108    165
1109    159
1110    170
1111    148
1112    137
1113    163
1114    154
1115    176
1116    174
1117    154
1118    163
1119    190
1120    165
1121    194
1122    165
1123    157
1124    154
1125    134
1126    190
1127    176
1128    163
1129    152
1130    172
1131    132
1132    150
1133    159
1134    174
1135    157
1136    172
1137    168
1138    185
1139    154
1140    179
1141    159
1142    181
1143    152
1144    159
1145    165
1146    152
1147    159
1148    150
1149    146
1150    161
1151    183
1152    137
1153    165
1154    183
1155    163
1156    176
1157    148
1158    165
1159    150
1160    154
1161    181
1162    150
1163    196
1164    121
1165    176
1166    198
1167    181
1168    161
1169    139
1170    159
1171    176
1172    146
1173    187
1174    141
1175    190
1176    174
1177    143
1178    150
1179    159
1180    176
1181    174
1182    192
1183    163
1184    176
1185    152
1186    139
1187    163
1188    154
1189    181
1190    157
1191    143
1192    176
1193    159
1194    154
1195    181
1196    161
1197    154
1198    172
1199    172
1200    143
1201    168
1202    152
1203    165
1204    159
1205    165
1206    161
1207    176
1208    212
1209    137
1210    146
1211    172
1212    159
1213    163
1214    183
1215    161
1216    165
1217    165
1218    146
1219    148
1220    172
1221    168
1222    146
1223    157
1224    161
1225    183
1226    190
1227    159
1228    185
1229    141
1230    198
1231    201
1232    146
1233    148
1234    150
1235    181
1236    165
1237    170
1238    161
1239    196
1240    165
1241    150
1242    181
1243    170
1244    159
1245    165
1246    172
1247    163
1248    176
1249    179
1250    168
1251    141
1252    168
1253    176
1254    152
1255    152
1256    154
1257    183
1258    163
1259    165
1260    165
1261    148
1262    152
1263    218
1264    161
1265    154
1266    161
1267    132
1268    174
1269    150
1270    181
1271    179
1272    159
1273    159
1274    172
1275    179
1276    187
1277    190
1278    150
1279    181
1280    174
1281    148
1282    152
1283    141
1284    170
1285    183
1286    176
1287    154
1288    165
1289    194
1290    150
1291    148
1292    168
1293    176
1294    165
1295    174
1296    187
1297    154
1298    157
1299    146
1300    174
1301    174
1302    165
1303    146
1304    159
1305    192
1306    165
1307    179
1308    168
1309    141
1310    161
1311    170
1312    143
1313    165
1314    168
1315    165
1316    176
1317    176
1318    150
1319    154
1320    176
1321    176
1322    154
1323    165
1324    165
1325    163
1326    192
1327    165
1328    183
1329    170
1330    194
1331    154
1332    150
1333    192
1334    150
1335    172
1336    152
1337    168
1338    154
1339    165
1340    152
1341    176
1342    168
1343    146
1344    176
1345    152
1346    174
1347    165
1348    194
1349    165
1350    176
1351    192
1352    174
1353    183
1354    172
1355    170
1356    176
1357    143
1358    179
1359    181
1360    150
1361    165
1362    170
1363    183
1364    198
1365    198
1366    154
1367    163
1368    165
1369    154
1370    190
1371    176
1372    170
1373    128
1374    150
1375    205
1376    154
1377    152
1378    150
1379    170
1380    157
1381    154
1382    161
1383    181
1384    172
1385    165
1386    168
1387    157
1388    194
1389    174
1390    159
1391    170
1392    163
1393    143
1394    170
1395    154
1396    159
1397    154
1398    165
1399    163
1400    139
1401    161
1402    141
1403    181
1404    170
1405    187
1406    187
1407    154
1408    183
1409    157
1410    165
1411    163
1412    176
1413    154
1414    163
1415    181
1416    161
1417    141
1418    176
1419    161
1420    163
1421    157
1422    168
1423    148
1424    163
1425    168
1426    187
1427    152
1428    141
1429    201
1430    134
1431    172
1432    183
1433    170
1434    150
1435    157
1436    183
1437    165
1438    187
1439    154
1440    163
1441    159
1442    161
1443    194
1444    154
1445    196
1446    183
1447    170
1448    172
1449    150
1450    161
1451    174
1452    194
1453    187
1454    187
1455    172
1456    143
1457    179
1458    176
1459    152
1460    152
1461    176
1462    157
1463    148
1464    168
1465    187
1466    172
1467    132
1468    168
1469    159
1470    152
1471    163
1472    161
1473    174
1474    154
1475    152
1476    154
1477    176
1478    172
1479    198
1480    161
1481    181
1482    181
1483    181
1484    157
1485    152
1486    154
1487    187
1488    165
1489    157
1490    172
1491    154
1492    192
1493    181
1494    161
1495    157
1496    179
1497    165
1498    172
1499    187
1500    170
1501    187
1502    119
1503    150
1504    165
1505    154
1506    165
1507    165
1508    141
1509    185
1510    163
1511    179
1512    154
1513    179
1514    181
1515    143
1516    146
1517    176
1518    150
1519    134
1520    194
1521    161
1522    165
1523    168
1524    185
1525    174
1526    161
1527    159
1528    176
1529    148
1530    154
1531    176
1532    187
1533    183
1534    154
1535    174
1536    137
1537    152
1538    209
1539    181
1540    176
1541    174
1542    194
1543    161
1544    176
1545    176
1546    152
1547    152
1548    181
1549    172
1550    161
1551    165
1552    170
1553    139
1554    154
1555    185
1556    185
1557    172
1558    154
1559    198
1560    174
1561    159
1562    168
1563    181
1564    174
1565    170
1566    172
1567    163
1568    146
1569    170
1570    168
1571    165
1572    187
1573    187
1574    181
1575    143
1576    194
1577    154
1578    168
1579    168
1580    172
1581    139
1582    198
1583    154
1584    143
1585    181
1586    132
1587    165
1588    163
1589    165
1590    154
1591    176
1592    179
1593    148
1594    194
1595    161
1596    148
1597    161
1598    168
1599    185
1600    165
1601    172
1602    165
1603    172
1604    181
1605    150
1606    181
1607    170
1608    159
1609    168
1610    165
1611    165
1612    172
1613    187
1614    163
1615    176
1616    157
1617    172
1618    168
1619    179
1620    161
1621    159
1622    134
1623    176
1624    139
1625    190
1626    143
1627    154
1628    163
1629    159
1630    163
1631    152
1632    179
1633    192
1634    154
1635    190
1636    170
1637    163
1638    179
1639    161
1640    170
1641    148
1642    181
1643    157
1644    154
1645    165
1646    176
1647    157
1648    143
1649    172
1650    181
1651    152
1652    170
1653    159
1654    185
1655    176
1656    174
1657    187
1658    170
1659    148
1660    203
1661    143
1662    174
1663    161
1664    172
1665    203

In [82]:
def covert_value(value):
    if "M" in value:
        new_value = value.replace("€","").replace("M","")
        new_value = float(new_value)*1000000
    elif "K" in value:
        new_value = value.replace("€","").replace("K","")
        new_value = float(new_value)*1000
    else:
        new_value = value.replace("€","")
        new_value = float(new_value)
        
    return new_value

cat_df1_h['Value'] = cat_df1_h['Value'].apply(covert_value)

<ipython-input-82-a466a2c803f0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h['Value'] = cat_df1_h['Value'].apply(covert_value)

In [83]:
def covert_Wage(value):
    if "K" in value:
        new_value = value.replace("€","").replace("K","")
        new_value = float(new_value)*1000
    else:
        new_value = value.replace("€","")
        new_value = float(new_value)
        
    return new_value

cat_df1_h['Wage'] = cat_df1_h['Wage'].apply(covert_Wage)
cat_df1_h['Wage'].dtypes

<ipython-input-83-f90802a78f35>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h['Wage'] = cat_df1_h['Wage'].apply(covert_Wage)

dtype('float64')

In [84]:
cat_df1_h["Release Clause"] = cat_df1_h["Release Clause"].apply(covert_value)

<ipython-input-84-72fbc0e7c7c6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h["Release Clause"] = cat_df1_h["Release Clause"].apply(covert_value)

In [85]:
cat_df1_h["W/F"] = list(map(int,cat_df1_h["W/F"].str.replace("★","")))

<ipython-input-85-1969e6de7cda>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h["W/F"] = list(map(int,cat_df1_h["W/F"].str.replace("★","")))

In [86]:
cat_df1_h["SM"] = list(map(int,cat_df1_h["SM"].str.replace("★","")))

<ipython-input-86-968327fd379e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h["SM"] = list(map(int,cat_df1_h["SM"].str.replace("★","")))

In [87]:
cat_df1_h["IR"] = list(map(int,cat_df1_h["IR"].str.replace("★","")))

<ipython-input-87-bc2af3048eca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h["IR"] = list(map(int,cat_df1_h["IR"].str.replace("★","")))

In [88]:
cat_df1_h.shape

(1999, 48)

In [89]:
value_num = ['LS', 'ST',
       'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM',
       'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB',
       'RCB', 'RB', 'GK']
for i in value_num:
    cat_df1_h[i] = pd.to_numeric(cat_df1_h[i], errors = 'coerce')
    
cat_df1_h['LS']

<ipython-input-89-d75cf21b9bff>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h[i] = pd.to_numeric(cat_df1_h[i], errors = 'coerce')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
30     NaN
31     NaN
32     NaN
33     NaN
34     NaN
35     NaN
36     NaN
37     NaN
38     NaN
39     NaN
40     NaN
41     NaN
42     NaN
43     NaN
44     NaN
45     NaN
46     NaN
47     NaN
48     NaN
49     NaN
50     NaN
51     NaN
52     NaN
53     NaN
54     NaN
55     NaN
56     NaN
57     NaN
58     NaN
59     NaN
60     NaN
61     NaN
62     NaN
63     NaN
64     NaN
65     NaN
66     NaN
67     NaN
68     NaN
69     NaN
70     NaN
71     NaN
72     NaN
73     NaN
74     NaN
75     NaN
76     NaN
77     NaN
78     NaN
79     NaN
80     NaN
81     NaN
82     NaN
83     NaN
84     NaN
85     NaN
86     NaN
87     NaN
88     NaN
89     NaN
90     NaN
91     NaN
92     NaN
93     NaN
94     NaN
95     NaN
96     NaN
97     NaN
98     NaN
99     NaN
100    NaN
101    NaN
102    NaN
103    NaN
104    NaN
105    NaN
106    NaN
107    NaN
108    NaN
109    NaN
110    NaN
111    NaN
112    NaN
113    NaN
114    NaN
115    NaN
116    NaN
117    NaN
118    NaN
119    NaN
120    NaN
121    NaN
122    NaN
123    NaN
124    NaN
125    NaN
126    NaN
127    NaN
128    NaN
129    NaN
130    NaN
131    NaN
132    NaN
133    NaN
134    NaN
135    NaN
136    NaN
137    NaN
138    NaN
139    NaN
140    NaN
141    NaN
142    NaN
143    NaN
144    NaN
145    NaN
146    NaN
147    NaN
148    NaN
149    NaN
150    NaN
151    NaN
152    NaN
153    NaN
154    NaN
155    NaN
156    NaN
157    NaN
158    NaN
159    NaN
160    NaN
161    NaN
162    NaN
163    NaN
164    NaN
165    NaN
166    NaN
167    NaN
168    NaN
169    NaN
170    NaN
171    NaN
172    NaN
173    NaN
174    NaN
175    NaN
176    NaN
177    NaN
178    NaN
179    NaN
180    NaN
181    NaN
182    NaN
183    NaN
184    NaN
185    NaN
186    NaN
187    NaN
188    NaN
189    NaN
190    NaN
191    NaN
192    NaN
193    NaN
194    NaN
195    NaN
196    NaN
197    NaN
198    NaN
199    NaN
200    NaN
201    NaN
202    NaN
203    NaN
204    NaN
205    NaN
206    NaN
207    NaN
208    NaN
209    NaN
210    NaN
211    NaN
212    NaN
213    NaN
214    NaN
215    NaN
216    NaN
217    NaN
218    NaN
219    NaN
220    NaN
221    NaN
222    NaN
223    NaN
224    NaN
225    NaN
226    NaN
227    NaN
228    NaN
229    NaN
230    NaN
231    NaN
232    NaN
233    NaN
234    NaN
235    NaN
236    NaN
237    NaN
238    NaN
239    NaN
240    NaN
241    NaN
242    NaN
243    NaN
244    NaN
245    NaN
246    NaN
247    NaN
248    NaN
249    NaN
250    NaN
251    NaN
252    NaN
253    NaN
254    NaN
255    NaN
256    NaN
257    NaN
258    NaN
259    NaN
260    NaN
261    NaN
262    NaN
263    NaN
264    NaN
265    NaN
266    NaN
267    NaN
268    NaN
269    NaN
270    NaN
271    NaN
272    NaN
273    NaN
274    NaN
275    NaN
276    NaN
277    NaN
278    NaN
279    NaN
280    NaN
281    NaN
282    NaN
283    NaN
284    NaN
285    NaN
286    NaN
287    NaN
288    NaN
289    NaN
290    NaN
291    NaN
292    NaN
293    NaN
294    NaN
295    NaN
296    NaN
297    NaN
298    NaN
299    NaN
300    NaN
301    NaN
302    NaN
303    NaN
304    NaN
305    NaN
306    NaN
307    NaN
308    NaN
309    NaN
310    NaN
311    NaN
312    NaN
313    NaN
314    NaN
315    NaN
316    NaN
317    NaN
318    NaN
319    NaN
320    NaN
321    NaN
322    NaN
323    NaN
324    NaN
325    NaN
326    NaN
327    NaN
328    NaN
329    NaN
330    NaN
331    NaN
332    NaN
333    NaN
334    NaN
335    NaN
336    NaN
337    NaN
338    NaN
339    NaN
340    NaN
341    NaN
342    NaN
343    NaN
344    NaN
345    NaN
346    NaN
347    NaN
348    NaN
349    NaN
350    NaN
351    NaN
352    NaN
353    NaN
354    NaN
355    NaN
356    NaN
357    NaN
358    NaN
359    NaN
360    NaN
361    NaN
362    NaN
363    NaN
364    NaN
365    NaN
366    NaN
367    NaN
368    NaN
369    NaN
370    NaN
371    NaN
372    NaN
373    NaN
374    NaN
375    NaN
376    NaN
377    NaN
378    NaN
379    NaN
380    NaN
381    NaN
382    NaN
383    NaN
384    NaN
385    NaN
386    NaN
387    NaN
388    NaN
389    NaN
390    NaN
391    NaN
392    NaN
393    NaN
394    NaN
395    NaN
396    NaN
397    NaN
398    NaN
399    NaN
400    NaN
401    NaN
402    NaN
403    NaN
404    NaN
405    NaN
406    NaN
407    NaN
408    NaN
409    NaN
410    NaN
411    NaN
412    NaN
413    NaN
414    NaN
415    NaN
416    NaN
417    NaN
418    NaN
419    NaN
420    NaN
421    NaN
422    NaN
423    NaN
424    NaN
425    NaN
426    NaN
427    NaN
428    NaN
429    NaN
430    NaN
431    NaN
432    NaN
433    NaN
434    NaN
435    NaN
436    NaN
437    NaN
438    NaN
439    NaN
440    NaN
441    NaN
442    NaN
443    NaN
444    NaN
445    NaN
446    NaN
447    NaN
448    NaN
449    NaN
450    NaN
451    NaN
452    NaN
453    NaN
454    NaN
455    NaN
456    NaN
457    NaN
458    NaN
459    NaN
460    NaN
461    NaN
462    NaN
463    NaN
464    NaN
465    NaN
466    NaN
467    NaN
468    NaN
469    NaN
470    NaN
471    NaN
472    NaN
473    NaN
474    NaN
475    NaN
476    NaN
477    NaN
478    NaN
479    NaN
480    NaN
481    NaN
482    NaN
483    NaN
484    NaN
485    NaN
486    NaN
487    NaN
488    NaN
489    NaN
490    NaN
491    NaN
492    NaN
493    NaN
494    NaN
495    NaN
496    NaN
497    NaN
498    NaN
499    NaN
500    NaN
501    NaN
502    NaN
503    NaN
504    NaN
505    NaN
506    NaN
507    NaN
508    NaN
509    NaN
510    NaN
511    NaN
512    NaN
513    NaN
514    NaN
515    NaN
516    NaN
517    NaN
518    NaN
519    NaN
520    NaN
521    NaN
522    NaN
523    NaN
524    NaN
525    NaN
526    NaN
527    NaN
528    NaN
529    NaN
530    NaN
531    NaN
532    NaN
533    NaN
534    NaN
535    NaN
536    NaN
537    NaN
538    NaN
539    NaN
540    NaN
541    NaN
542    NaN
543    NaN
544    NaN
545    NaN
546    NaN
547    NaN
548    NaN
549    NaN
550    NaN
551    NaN
552    NaN
553    NaN
554    NaN
555    NaN
556    NaN
557    NaN
558    NaN
559    NaN
560    NaN
561    NaN
562    NaN
563    NaN
564    NaN
565    NaN
566    NaN
567    NaN
568    NaN
569    NaN
570    NaN
571    NaN
572    NaN
573    NaN
574    NaN
575    NaN
576    NaN
577    NaN
578    NaN
579    NaN
580    NaN
581    NaN
582    NaN
583    NaN
584    NaN
585    NaN
586    NaN
587    NaN
588    NaN
589    NaN
590    NaN
591    NaN
592    NaN
593    NaN
594    NaN
595    NaN
596    NaN
597    NaN
598    NaN
599    NaN
600    NaN
601    NaN
602    NaN
603    NaN
604    NaN
605    NaN
606    NaN
607    NaN
608    NaN
609    NaN
610    NaN
611    NaN
612    NaN
613    NaN
614    NaN
615    NaN
616    NaN
617    NaN
618    NaN
619    NaN
620    NaN
621    NaN
622    NaN
623    NaN
624    NaN
625    NaN
626    NaN
627    NaN
628    NaN
629    NaN
630    NaN
631    NaN
632    NaN
633    NaN
634    NaN
635    NaN
636    NaN
637    NaN
638    NaN
639    NaN
640    NaN
641    NaN
642    NaN
643    NaN
644    NaN
645    NaN
646    NaN
647    NaN
648    NaN
649    NaN
650    NaN
651    NaN
652    NaN
653    NaN
654    NaN
655    NaN
656    NaN
657    NaN
658    NaN
659    NaN
660    NaN
661    NaN
662    NaN
663    NaN
664    NaN
665    NaN
666    NaN
667    NaN
668    NaN
669    NaN
670    NaN
671    NaN
672    NaN
673    NaN
674    NaN
675    NaN
676    NaN
677    NaN
678    NaN
679    NaN
680    NaN
681    NaN
682    NaN
683    NaN
684    NaN
685    NaN
686    NaN
687    NaN
688    NaN
689    NaN
690    NaN
691    NaN
692    NaN
693    NaN
694    NaN
695    NaN
696    NaN
697    NaN
698    NaN
699    NaN
700    NaN
701    NaN
702    NaN
703    NaN
704    NaN
705    NaN
706    NaN
707    NaN
708    NaN
709    NaN
710    NaN
711    NaN
712    NaN
713    NaN
714    NaN
715    NaN
716    NaN
717    NaN
718    NaN
719    NaN
720    NaN
721    NaN
722    NaN
723    NaN
724    NaN
725    NaN
726    NaN
727    NaN
728    NaN
729    NaN
730    NaN
731    NaN
732    NaN
733    NaN
734    NaN
735    NaN
736    NaN
737    NaN
738    NaN
739    NaN
740    NaN
741    NaN
742    NaN
743    NaN
744    NaN
745    NaN
746    NaN
747    NaN
748    NaN
749    NaN
750    NaN
751    NaN
752    NaN
753    NaN
754    NaN
755    NaN
756    NaN
757    NaN
758    NaN
759    NaN
760    NaN
761    NaN
762    NaN
763    NaN
764    NaN
765    NaN
766    NaN
767    NaN
768    NaN
769    NaN
770    NaN
771    NaN
772    NaN
773    NaN
774    NaN
775    NaN
776    NaN
777    NaN
778    NaN
779    NaN
780    NaN
781    NaN
782    NaN
783    NaN
784    NaN
785    NaN
786    NaN
787    NaN
788    NaN
789    NaN
790    NaN
791    NaN
792    NaN
793    NaN
794    NaN
795    NaN
796    NaN
797    NaN
798    NaN
799    NaN
800    NaN
801    NaN
802    NaN
803    NaN
804    NaN
805    NaN
806    NaN
807    NaN
808    NaN
809    NaN
810    NaN
811    NaN
812    NaN
813    NaN
814    NaN
815    NaN
816    NaN
817    NaN
818    NaN
819    NaN
820    NaN
821    NaN
822    NaN
823    NaN
824    NaN
825    NaN
826    NaN
827    NaN
828    NaN
829    NaN
830    NaN
831    NaN
832    NaN
833    NaN
834    NaN
835    NaN
836    NaN
837    NaN
838    NaN
839    NaN
840    NaN
841    NaN
842    NaN
843    NaN
844    NaN
845    NaN
846    NaN
847    NaN
848    NaN
849    NaN
850    NaN
851    NaN
852    NaN
853    NaN
854    NaN
855    NaN
856    NaN
857    NaN
858    NaN
859    NaN
860    NaN
861    NaN
862    NaN
863    NaN
864    NaN
865    NaN
866    NaN
867    NaN
868    NaN
869    NaN
870    NaN
871    NaN
872    NaN
873    NaN
874    NaN
875    NaN
876    NaN
877    NaN
878    NaN
879    NaN
880    NaN
881    NaN
882    NaN
883    NaN
884    NaN
885    NaN
886    NaN
887    NaN
888    NaN
889    NaN
890    NaN
891    NaN
892    NaN
893    NaN
894    NaN
895    NaN
896    NaN
897    NaN
898    NaN
899    NaN
900    NaN
901    NaN
902    NaN
903    NaN
904    NaN
905    NaN
906    NaN
907    NaN
908    NaN
909    NaN
910    NaN
911    NaN
912    NaN
913    NaN
914    NaN
915    NaN
916    NaN
917    NaN
918    NaN
919    NaN
920    NaN
921    NaN
922    NaN
923    NaN
924    NaN
925    NaN
926    NaN
927    NaN
928    NaN
929    NaN
930    NaN
931    NaN
932    NaN
933    NaN
934    NaN
935    NaN
936    NaN
937    NaN
938    NaN
939    NaN
940    NaN
941    NaN
942    NaN
943    NaN
944    NaN
945    NaN
946    NaN
947    NaN
948    NaN
949    NaN
950    NaN
951    NaN
952    NaN
953    NaN
954    NaN
955    NaN
956    NaN
957    NaN
958    NaN
959    NaN
960    NaN
961    NaN
962    NaN
963    NaN
964    NaN
965    NaN
966    NaN
967    NaN
968    NaN
969    NaN
970    NaN
971    NaN
972    NaN
973    NaN
974    NaN
975    NaN
976    NaN
977    NaN
978    NaN
979    NaN
980    NaN
981    NaN
982    NaN
983    NaN
984    NaN
985    NaN
986    NaN
987    NaN
988    NaN
989    NaN
990    NaN
991    NaN
992    NaN
993    NaN
994    NaN
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
1000   NaN
1001   NaN
1002   NaN
1003   NaN
1004   NaN
1005   NaN
1006   NaN
1007   NaN
1008   NaN
1009   NaN
1010   NaN
1011   NaN
1012   NaN
1013   NaN
1014   NaN
1015   NaN
1016   NaN
1017   NaN
1018   NaN
1019   NaN
1020   NaN
1021   NaN
1022   NaN
1023   NaN
1024   NaN
1025   NaN
1026   NaN
1027   NaN
1028   NaN
1029   NaN
1030   NaN
1031   NaN
1032   NaN
1033   NaN
1034   NaN
1035   NaN
1036   NaN
1037   NaN
1038   NaN
1039   NaN
1040   NaN
1041   NaN
1042   NaN
1043   NaN
1044   NaN
1045   NaN
1046   NaN
1047   NaN
1048   NaN
1049   NaN
1050   NaN
1051   NaN
1052   NaN
1053   NaN
1054   NaN
1055   NaN
1056   NaN
1057   NaN
1058   NaN
1059   NaN
1060   NaN
1061   NaN
1062   NaN
1063   NaN
1064   NaN
1065   NaN
1066   NaN
1067   NaN
1068   NaN
1069   NaN
1070   NaN
1071   NaN
1072   NaN
1073   NaN
1074   NaN
1075   NaN
1076   NaN
1077   NaN
1078   NaN
1079   NaN
1080   NaN
1081   NaN
1082   NaN
1083   NaN
1084   NaN
1085   NaN
1086   NaN
1087   NaN
1088   NaN
1089   NaN
1090   NaN
1091   NaN
1092   NaN
1093   NaN
1094   NaN
1095   NaN
1096   NaN
1097   NaN
1098   NaN
1099   NaN
1100   NaN
1101   NaN
1102   NaN
1103   NaN
1104   NaN
1105   NaN
1106   NaN
1107   NaN
1108   NaN
1109   NaN
1110   NaN
1111   NaN
1112   NaN
1113   NaN
1114   NaN
1115   NaN
1116   NaN
1117   NaN
1118   NaN
1119   NaN
1120   NaN
1121   NaN
1122   NaN
1123   NaN
1124   NaN
1125   NaN
1126   NaN
1127   NaN
1128   NaN
1129   NaN
1130   NaN
1131   NaN
1132   NaN
1133   NaN
1134   NaN
1135   NaN
1136   NaN
1137   NaN
1138   NaN
1139   NaN
1140   NaN
1141   NaN
1142   NaN
1143   NaN
1144   NaN
1145   NaN
1146   NaN
1147   NaN
1148   NaN
1149   NaN
1150   NaN
1151   NaN
1152   NaN
1153   NaN
1154   NaN
1155   NaN
1156   NaN
1157   NaN
1158   NaN
1159   NaN
1160   NaN
1161   NaN
1162   NaN
1163   NaN
1164   NaN
1165   NaN
1166   NaN
1167   NaN
1168   NaN
1169   NaN
1170   NaN
1171   NaN
1172   NaN
1173   NaN
1174   NaN
1175   NaN
1176   NaN
1177   NaN
1178   NaN
1179   NaN
1180   NaN
1181   NaN
1182   NaN
1183   NaN
1184   NaN
1185   NaN
1186   NaN
1187   NaN
1188   NaN
1189   NaN
1190   NaN
1191   NaN
1192   NaN
1193   NaN
1194   NaN
1195   NaN
1196   NaN
1197   NaN
1198   NaN
1199   NaN
1200   NaN
1201   NaN
1202   NaN
1203   NaN
1204   NaN
1205   NaN
1206   NaN
1207   NaN
1208   NaN
1209   NaN
1210   NaN
1211   NaN
1212   NaN
1213   NaN
1214   NaN
1215   NaN
1216   NaN
1217   NaN
1218   NaN
1219   NaN
1220   NaN
1221   NaN
1222   NaN
1223   NaN
1224   NaN
1225   NaN
1226   NaN
1227   NaN
1228   NaN
1229   NaN
1230   NaN
1231   NaN
1232   NaN
1233   NaN
1234   NaN
1235   NaN
1236   NaN
1237   NaN
1238   NaN
1239   NaN
1240   NaN
1241   NaN
1242   NaN
1243   NaN
1244   NaN
1245   NaN
1246   NaN
1247   NaN
1248   NaN
1249   NaN
1250   NaN
1251   NaN
1252   NaN
1253   NaN
1254   NaN
1255   NaN
1256   NaN
1257   NaN
1258   NaN
1259   NaN
1260   NaN
1261   NaN
1262   NaN
1263   NaN
1264   NaN
1265   NaN
1266   NaN
1267   NaN
1268   NaN
1269   NaN
1270   NaN
1271   NaN
1272   NaN
1273   NaN
1274   NaN
1275   NaN
1276   NaN
1277   NaN
1278   NaN
1279   NaN
1280   NaN
1281   NaN
1282   NaN
1283   NaN
1284   NaN
1285   NaN
1286   NaN
1287   NaN
1288   NaN
1289   NaN
1290   NaN
1291   NaN
1292   NaN
1293   NaN
1294   NaN
1295   NaN
1296   NaN
1297   NaN
1298   NaN
1299   NaN
1300   NaN
1301   NaN
1302   NaN
1303   NaN
1304   NaN
1305   NaN
1306   NaN
1307   NaN
1308   NaN
1309   NaN
1310   NaN
1311   NaN
1312   NaN
1313   NaN
1314   NaN
1315   NaN
1316   NaN
1317   NaN
1318   NaN
1319   NaN
1320   NaN
1321   NaN
1322   NaN
1323   NaN
1324   NaN
1325   NaN
1326   NaN
1327   NaN
1328   NaN
1329   NaN
1330   NaN
1331   NaN
1332   NaN
1333   NaN
1334   NaN
1335   NaN
1336   NaN
1337   NaN
1338   NaN
1339   NaN
1340   NaN
1341   NaN
1342   NaN
1343   NaN
1344   NaN
1345   NaN
1346   NaN
1347   NaN
1348   NaN
1349   NaN
1350   NaN
1351   NaN
1352   NaN
1353   NaN
1354   NaN
1355   NaN
1356   NaN
1357   NaN
1358   NaN
1359   NaN
1360   NaN
1361   NaN
1362   NaN
1363   NaN
1364   NaN
1365   NaN
1366   NaN
1367   NaN
1368   NaN
1369   NaN
1370   NaN
1371   NaN
1372   NaN
1373   NaN
1374   NaN
1375   NaN
1376   NaN
1377   NaN
1378   NaN
1379   NaN
1380   NaN
1381   NaN
1382   NaN
1383   NaN
1384   NaN
1385   NaN
1386   NaN
1387   NaN
1388   NaN
1389   NaN
1390   NaN
1391   NaN
1392   NaN
1393   NaN
1394   NaN
1395   NaN
1396   NaN
1397   NaN
1398   NaN
1399   NaN
1400   NaN
1401   NaN
1402   NaN
1403   NaN
1404   NaN
1405   NaN
1406   NaN
1407   NaN
1408   NaN
1409   NaN
1410   NaN
1411   NaN
1412   NaN
1413   NaN
1414   NaN
1415   NaN
1416   NaN
1417   NaN
1418   NaN
1419   NaN
1420   NaN
1421   NaN
1422   NaN
1423   NaN
1424   NaN
1425   NaN
1426   NaN
1427   NaN
1428   NaN
1429   NaN
1430   NaN
1431   NaN
1432   NaN
1433   NaN
1434   NaN
1435   NaN
1436   NaN
1437   NaN
1438   NaN
1439   NaN
1440   NaN
1441   NaN
1442   NaN
1443   NaN
1444   NaN
1445   NaN
1446   NaN
1447   NaN
1448   NaN
1449   NaN
1450   NaN
1451   NaN
1452   NaN
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
1458   NaN
1459   NaN
1460   NaN
1461   NaN
1462   NaN
1463   NaN
1464   NaN
1465   NaN
1466   NaN
1467   NaN
1468   NaN
1469   NaN
1470   NaN
1471   NaN
1472   NaN
1473   NaN
1474   NaN
1475   NaN
1476   NaN
1477   NaN
1478   NaN
1479   NaN
1480   NaN
1481   NaN
1482   NaN
1483   NaN
1484   NaN
1485   NaN
1486   NaN
1487   NaN
1488   NaN
1489   NaN
1490   NaN
1491   NaN
1492   NaN
1493   NaN
1494   NaN
1495   NaN
1496   NaN
1497   NaN
1498   NaN
1499   NaN
1500   NaN
1501   NaN
1502   NaN
1503   NaN
1504   NaN
1505   NaN
1506   NaN
1507   NaN
1508   NaN
1509   NaN
1510   NaN
1511   NaN
1512   NaN
1513   NaN
1514   NaN
1515   NaN
1516   NaN
1517   NaN
1518   NaN
1519   NaN
1520   NaN
1521   NaN
1522   NaN
1523   NaN
1524   NaN
1525   NaN
1526   NaN
1527   NaN
1528   NaN
1529   NaN
1530   NaN
1531   NaN
1532   NaN
1533   NaN
1534   NaN
1535   NaN
1536   NaN
1537   NaN
1538   NaN
1539   NaN
1540   NaN
1541   NaN
1542   NaN
1543   NaN
1544   NaN
1545   NaN
1546   NaN
1547   NaN
1548   NaN
1549   NaN
1550   NaN
1551   NaN
1552   NaN
1553   NaN
1554   NaN
1555   NaN
1556   NaN
1557   NaN
1558   NaN
1559   NaN
1560   NaN
1561   NaN
1562   NaN
1563   NaN
1564   NaN
1565   NaN
1566   NaN
1567   NaN
1568   NaN
1569   NaN
1570   NaN
1571   NaN
1572   NaN
1573   NaN
1574   NaN
1575   NaN
1576   NaN
1577   NaN
1578   NaN
1579   NaN
1580   NaN
1581   NaN
1582   NaN
1583   NaN
1584   NaN
1585   NaN
1586   NaN
1587   NaN
1588   NaN
1589   NaN
1590   NaN
1591   NaN
1592   NaN
1593   NaN
1594   NaN
1595   NaN
1596   NaN
1597   NaN
1598   NaN
1599   NaN
1600   NaN
1601   NaN
1602   NaN
1603   NaN
1604   NaN
1605   NaN
1606   NaN
1607   NaN
1608   NaN
1609   NaN
1610   NaN
1611   NaN
1612   NaN
1613   NaN
1614   NaN
1615   NaN
1616   NaN
1617   NaN
1618   NaN
1619   NaN
1620   NaN
1621   NaN
1622   NaN
1623   NaN
1624   NaN
1625   NaN
1626   NaN
1627   NaN
1628   NaN
1629   NaN
1630   NaN
1631   NaN
1632   NaN
1633   NaN
1634   NaN
1635   NaN
1636   NaN
1637   NaN
1638   NaN
1639   NaN
1640   NaN
1641   NaN
1642   NaN
1643   NaN
1644   NaN
1645   NaN
1646   NaN
1647   NaN
1648   NaN
1649   NaN
1650   NaN
1651   NaN
1652   NaN
1653   NaN
1654   NaN
1655   NaN
1656   NaN
1657   NaN
1658   NaN
1659   NaN
1660   NaN
1661   NaN
1662   NaN
1663   NaN
1664   NaN
1665   NaN
1666   NaN
1667   NaN
1668   NaN
1669   NaN
1670   NaN
1671   NaN
1672   NaN
1673   NaN
1674   NaN
1675   NaN
1676   NaN
1677   NaN
1678   NaN
1679   NaN
1680   NaN
1681   NaN
1682   NaN
1683   NaN
1684   NaN
1685   NaN
1686   NaN
1687   NaN
1688   NaN
1689   NaN
1690   NaN
1691   NaN
1692   NaN
1693   NaN
1694   NaN
1695   NaN
1696   NaN
1697   NaN
1698   NaN
1699   NaN
1700   NaN
1701   NaN
1702   NaN
1703   NaN
1704   NaN
1705   NaN
1706   NaN
1707   NaN
1708   NaN
1709   NaN
1710   NaN
1711   NaN
1712   NaN
1713   NaN
1714   NaN
1715   NaN
1716   NaN
1717   NaN
1718   NaN
1719   NaN
1720   NaN
1721   NaN
1722   NaN
1723   NaN
1724   NaN
1725   NaN
1726   NaN
1727   NaN
1728   NaN
1729   NaN
1730   NaN
1731   NaN
1732   NaN
1733   NaN
1734   NaN
1735   NaN
1736   NaN
1737   NaN
1738   NaN
1739   NaN
1740   NaN
1741   NaN
1742   NaN
1743   NaN
1744   NaN
1745   NaN
1746   NaN
1747   NaN
1748   NaN
1749   NaN
1750   NaN
1751   NaN
1752   NaN
1753   NaN
1754   NaN
1755   NaN
1756   NaN
1757   NaN
1758   NaN
1759   NaN
1760   NaN
1761   NaN
1762   NaN
1763   NaN
1764   NaN
1765   NaN
1766   NaN
1767   NaN
1768   NaN
1769   NaN
1770   NaN
1771   NaN
1772   NaN
1773   NaN
1774   NaN
1775   NaN
1776   NaN
1777   NaN
1778   NaN
1779   NaN
1780   NaN
1781   NaN
1782   NaN
1783   NaN
1784   NaN
1785   NaN
1786   NaN
1787   NaN
1788   NaN
1789   NaN
1790   NaN
1791   NaN
1792   NaN
1793   NaN
1794   NaN
1795   NaN
1796   NaN
1797   NaN
1798   NaN
1799   NaN
1800   NaN
1801   NaN
1802   NaN
1803   NaN
1804   NaN
1805   NaN
1806   NaN
1807   NaN
1808   NaN
1809   NaN
1810   NaN
1811   NaN
1812   NaN
1813   NaN
1814   NaN
1815   NaN
1816   NaN
1817   NaN

In [91]:
#cleaning data in 'LS'...
def convert_position(nb):
    if isinstance(nb, int):
        return nb 
    
    if '-' in nb:
        score, bonus = map(int, nb.replace('-', '').split("+"))
        total = score - bonus
    else:
        score, bonus = map(int, nb.split("+"))
        total = score + bonus
    
    return total

for i in value_num:
    cat_df1_h[value_num]  = df1_h[value_num].applymap(convert_position)

In [92]:
cat_df1_h["Hits"] = pd.to_numeric(cat_df1_h["Hits"], errors='coerce')

<ipython-input-92-d5928ba5edaa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat_df1_h["Hits"] = pd.to_numeric(cat_df1_h["Hits"], errors='coerce')

In [93]:
cat_df1_h.shape

(1999, 48)

In [94]:
new_cat_h = cat_df1_h.select_dtypes(include="object")

In [95]:
new_cat_h.shape

(1999, 12)

In [96]:
new_cat_h.isna().sum()

Name                  0
Nationality           0
Club                  3
BP                    0
Position             55
Team & Contract       0
foot                  0
Joined                3
Loan Date End      1889
Contract              0
A/W                   8
D/W                   8
dtype: int64

In [97]:
new_cat_h['A/W'] = new_cat_h['A/W'].fillna(new_cat_h['A/W'].mode()[0])
new_cat_h['D/W'] = new_cat_h['D/W'].fillna(new_cat_h['D/W'].mode()[0])

<ipython-input-97-f03a2ec5a633>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_cat_h['A/W'] = new_cat_h['A/W'].fillna(new_cat_h['A/W'].mode()[0])
<ipython-input-97-f03a2ec5a633>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_cat_h['D/W'] = new_cat_h['D/W'].fillna(new_cat_h['D/W'].mode()[0])

In [98]:
new_cat_h = new_cat_h.drop(["Position"],axis=1)

In [99]:
new_cat_h.isna().sum()

Name                  0
Nationality           0
Club                  3
BP                    0
Team & Contract       0
foot                  0
Joined                3
Loan Date End      1889
Contract              0
A/W                   0
D/W                   0
dtype: int64

In [100]:
new_cat_h.shape

(1999, 11)

# Working on numerical

In [101]:
df_num_h = dfh.select_dtypes(exclude = "object")

In [102]:
df_num_h.shape

(1999, 53)

In [103]:
num_h = pd.concat([df_num_h,cat_df1_h.select_dtypes(exclude='object')],axis = 1)

In [104]:
num_h.shape

(1999, 89)

In [105]:
num_h = num_h.drop(['ID'],axis = 1)

In [106]:
num_h.shape

(1999, 88)

In [107]:
num_h.loc[:, num_h.isnull().any()].describe().T

                 count       mean        std   min   25%   50%   75%    max
Volleys         1996.0  44.517535  17.921024   4.0  32.0  46.0  58.0   85.0
Curve           1996.0  49.334168  18.408864   6.0  37.0  51.0  63.0   92.0
Agility         1996.0  64.555110  14.291048  18.0  57.0  67.0  75.0   94.0
Balance         1996.0  64.525551  13.964360  20.0  56.0  67.0  74.0   95.0
Jumping         1996.0  65.245992  11.719106  22.0  58.0  66.0  73.0   93.0
Vision          1996.0  55.605210  13.759388  10.0  46.0  57.0  66.0   91.0
Composure       1949.0  59.757825  11.678568  12.0  53.0  61.0  68.0   92.0
Sliding Tackle  1996.0  46.231463  21.060851   8.0  25.0  53.0  64.0   90.0
Hits            1990.0  27.467839  71.755273   3.0   4.0   7.0  17.0  932.0

In [108]:
num_h["Volleys"] = num_h["Volleys"].fillna(num_h["Volleys"].mean())
num_h["Curve"] = num_h["Curve"].fillna(num_h["Curve"].mean())
num_h["Agility"] = num_h["Agility"].fillna(num_h["Agility"].mean())
num_h["Balance"] = num_h["Balance"].fillna(num_h["Balance"].mean())
num_h["Jumping"] = num_h["Jumping"].fillna(num_h["Jumping"].mean())
num_h["Vision"] = num_h["Vision"].fillna(num_h["Vision"].mean())
num_h["Composure"] = num_h["Composure"].fillna(num_h["Composure"].mean())
num_h["Sliding Tackle"] = num_h["Sliding Tackle"].fillna(num_h["Sliding Tackle"].mean())
num_h["Hits"] = num_h["Hits"].fillna(num_h["Hits"].mean())

In [109]:
num_h.isna().sum()

Age                 0
Growth              0
Attacking           0
Crossing            0
Finishing           0
Heading Accuracy    0
Short Passing       0
Volleys             0
Skill               0
Dribbling           0
Curve               0
FK Accuracy         0
Long Passing        0
Ball Control        0
Movement            0
Acceleration        0
Sprint Speed        0
Agility             0
Reactions           0
Balance             0
Power               0
Shot Power          0
Jumping             0
Stamina             0
Strength            0
Long Shots          0
Mentality           0
Aggression          0
Interceptions       0
Positioning         0
Vision              0
Penalties           0
Composure           0
Defending           0
Marking             0
Standing Tackle     0
Sliding Tackle      0
Goalkeeping         0
GK Diving           0
GK Handling         0
GK Kicking          0
GK Positioning      0
GK Reflexes         0
Total Stats         0
Base Stats          0
PAC                 0
SHO                 0
PAS                 0
DRI                 0
DEF                 0
PHY                 0
OVA                 0
Height              0
Weight              0
Value               0
Wage                0
Release Clause      0
W/F                 0
SM                  0
IR                  0
Hits                0
LS                  0
ST                  0
RS                  0
LW                  0
LF                  0
CF                  0
RF                  0
RW                  0
LAM                 0
CAM                 0
RAM                 0
LM                  0
LCM                 0
CM                  0
RCM                 0
RM                  0
LWB                 0
LDM                 0
CDM                 0
RDM                 0
RWB                 0
LB                  0
LCB                 0
CB                  0
RCB                 0
RB                  0
GK                  0
dtype: int64

In [110]:
num_h = num_h.apply(lambda x:cap_floor(x))
numerical_new_h = num_h

In [111]:
numerical_new_h.shape

(1999, 88)

In [112]:
y_h = num_h["OVA"]
numerical_new_h = num_h.drop("OVA",axis =1 )
# numerical_new.shape

In [113]:
y_h.shape

(1999,)

In [114]:
numerical_new_h.isna().sum()

Age                 0
Growth              0
Attacking           0
Crossing            0
Finishing           0
Heading Accuracy    0
Short Passing       0
Volleys             0
Skill               0
Dribbling           0
Curve               0
FK Accuracy         0
Long Passing        0
Ball Control        0
Movement            0
Acceleration        0
Sprint Speed        0
Agility             0
Reactions           0
Balance             0
Power               0
Shot Power          0
Jumping             0
Stamina             0
Strength            0
Long Shots          0
Mentality           0
Aggression          0
Interceptions       0
Positioning         0
Vision              0
Penalties           0
Composure           0
Defending           0
Marking             0
Standing Tackle     0
Sliding Tackle      0
Goalkeeping         0
GK Diving           0
GK Handling         0
GK Kicking          0
GK Positioning      0
GK Reflexes         0
Total Stats         0
Base Stats          0
PAC                 0
SHO                 0
PAS                 0
DRI                 0
DEF                 0
PHY                 0
Height              0
Weight              0
Value               0
Wage                0
Release Clause      0
W/F                 0
SM                  0
IR                  0
Hits                0
LS                  0
ST                  0
RS                  0
LW                  0
LF                  0
CF                  0
RF                  0
RW                  0
LAM                 0
CAM                 0
RAM                 0
LM                  0
LCM                 0
CM                  0
RCM                 0
RM                  0
LWB                 0
LDM                 0
CDM                 0
RDM                 0
RWB                 0
LB                  0
LCB                 0
CB                  0
RCB                 0
RB                  0
GK                  0
dtype: int64

In [115]:
#Scaling
# from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
# from sklearn.preprocessing import StandardScaler

#transformer = MinMaxScaler().fit(numerical_new_h) # numerical_new is numenical columns without target variable
x_normalized_h = transformer.transform(numerical_new_h)
num_Min_Max_h = pd.DataFrame(x_normalized_h, columns=numerical_new_h.columns)# num_Min_Max is normalized numerical data columns
#num_Min_Max

In [116]:
num_Min_Max_h.shape

(1999, 87)

In [117]:
# from sklearn.preprocessing import OneHotEncoder
# enc = OneHotEncoder() 
  
# # Passing encoded columns 
  
enc_data_h = enc.transform(new_cat_h[['BP', 'foot','A/W', 'D/W']]).toarray() 
cols_h = enc.get_feature_names(input_features=['BP', 'foot','A/W', 'D/W']) # columns names 
onehot_encoded_h = pd.DataFrame(enc_data_h, columns=cols) # generating data frame for categorical data with onehot encoding

In [118]:
onehot_encoded_h.shape

(1999, 23)

In [119]:
#ordinal_col_h = new_cat_h[["A/W", "D/W"]]

In [120]:
# #from sklearn.preprocessing import OrdinalEncoder

# ordinal_col_h = new_cat_h[["A/W", "D/W"]]
# #encoder_O = OrdinalEncoder()
# ordinal_encoded_h = encoder_O.transform(ordinal_col_h)
# ordi_encoded_h = pd.DataFrame(ordinal_encoded_h , columns=["A/W", "D/W"],axis=1)
# #ordi_encoded

In [121]:
# # concating two categorical data (ordinal and nominal)
# Cat_Enc_h = pd.concat([onehot_encoded_h,ordi_encoded_h],axis = 1)

In [122]:
X_h = pd.concat([num_Min_Max_h,onehot_encoded_h],axis = 1)

In [123]:
num_Min_Max_h.shape

(1999, 87)

In [124]:
onehot_encoded_h.shape

(1999, 23)

In [125]:
from sklearn.metrics import r2_score
predictions_h = lm.predict(X_h)
print("R2_score of training data: ",r2_score(y_h, predictions_h))

R2_score of training data:  0.9267798506058854

In [126]:
mse=mean_squared_error(y_h,predictions_h)
print("mean squared Error: ",mse)

mean squared Error:  2.4050242656347094